/* The flip2 card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip2 itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip2-card {
    background-color: transparent;
    width: 800px;
    height: 600px;
    perspective: 9000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip2-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align:center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip2 when you move the mouse over the flip2 box container */
  .flip2-card:hover .flip2-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip2-card-front, .flip2-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip2-card-front {
    background-color:transparent;
    height: 600px;
    width: 900px;
  }

  .flip2-card-front>img {
    height: 600px;
    width: 900px;
  }
  
  /* Style the back side */
  .flip2-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }