*,*:before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
:root{
  background-image:url('../src/assets/images/neon.jpg') ;
  background-position: center;
  background-size:cover;
}

.container-fluid{
  background-image: url('../src/assets/images/neon.jpg') ;
  background-position: center;
  background-size:cover;
  background-color: transparent;
  height:100vh;
  width: auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: azure;
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓   CSS GRID   ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6% 94%;
  grid-template-areas:
  "Navbar"
  /*↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Modify  as needed ↓↓↓↓↓↓↓↓↓↓↓↓ */
  "Body"
  /* ------------- */
   ;
}
/* Navbar */
.Navbar{
  grid-area: "Navbar";
  display: flex;
  width: 100%  ;
  margin: 0 auto;
}

.Navbar a{
  display: flex;
  margin: auto;
  font-size: large;
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.Footer{
  grid-area: "Footer";
  display: flex;
  width: 100%  ;
}

.Footer a{
  display: flex;
  margin: auto;
  font-size: large;
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.Body{
  grid-area: "Body";
  width: 100%;
  margin: 0 auto;
}

.row{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.flip-card{margin: 0 auto;}

.form{
  background-color: grey;
  height: 400px;
  width: 400px;
  margin: 0  auto;
}

